<main>
  <h2>Contents</h2>
  
  <%= for category <- @categories do %>
    <li>
      <a href="#<%= String.downcase(category.name) %>">
        <%= category.name %>
      </a>
    </li>
  <% end %>

  <%= for category <- @categories do %>
    <h2 id="<%= String.downcase(category.name) %>">
      <%= category.name %>
    </h2>
    <p>
      <%= category.description %>
    </p>
    <ul>
      <%= for lib <- category.libraries do %>
        <li>
          <a href="<%= lib.url %>">
            <%= lib.name %>
          </a>
          🌟
          <sub><%= lib.stars %></sub>
          📅
          <sub><%= lib.last_commit %></sub>
          —
          <span><%= lib.description %></span>
        </li> 
      <% end %>
    </ul>
  <% end %>
</main>